<div class="row">
  <div class="col-md-6 offset-md-3">
  
  <div class="card shadow-lg border-0">
      <div class="card-body p-5">
        <div class="text-center mb-5">
          <div class="display-1 mb-3"></div>
          <h1 class="display-5">
            <strong><%= @user.first_name %> <%= @user.last_name %></strong>
          </h1>
        </div>
        <p class="mb-4"><%= @user.description %></p>
      </div>
    </div>
  </div>
</div>
